.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.text_field{
    border: 2px #4CAF50;
    border-radius: 4px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    
}

.select{
     border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}
