{% extends 'base.html' %}
{% block content %}



<!doctype html>
    <!DOCTYPE html>
        <html>
                <head>
                        <title>DATA TABLE</title>
                        <link ref="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
                        <link ref="stylesheet" type="text/css" href= https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css>
                </head>
        <body>
               
<table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
                
</tbody>
    </table>

        <script type ="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type ="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type ="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
        <script type ="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
        <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
      
        
        <script type="text/javascript">
                $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy'
        ]
    } );
        </script>
        
        </body>
        </html>                
                

            </tr>
    
    


{% endblock %}